.statistics {
  padding-top: 60px;
  text-align: center;
  width: 900px;
}

.title {
  color: black;
  margin-bottom: 60px;
}

.stat_list {
  color: brown;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 225px;
  padding: 30px 20px;
  background-color: rgba(33, 150, 243, 0.8);
  border: 1px solid rgba(117, 117, 117, 0.2);
}

.label {
  margin: 20px;
  color: white;
}

.percentage {
  font-size: 50px;
  color: white;
}
